---
import { Image } from 'astro:assets';
import riot from '@/assets/riot.png';
import lol from '@/assets/lol.png';
import bg from '@/assets/bg.mp4';
import champ1 from '@/assets/champ-1.jpg';
import champ2 from '@/assets/champ-2.jpg';
import champ3 from '@/assets/champ-3.jpg';
import rp from '@/assets/rp.webp';
---

<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link href="https://db.onlinewebfonts.com/c/12420e8c141ca7c3dff41de2d59df13e?family=Beaufort+for+LOL+Bold" rel="stylesheet">
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="h-full bg-league-background overflow-hidden text-white">
    <div class="absolute inset-0 intro-wrapper">
      <div class="intro bg-riot-red h-full flex justify-center items-center">
        <Image src={riot} alt="riot games logo" class="riot-logo opacity-0 pointer-events-none"/>
      </div>
    </div>
    <div class="absolute lol-logo-wrapper inset-0 flex justify-center items-center">
      <Image src={lol} alt="league of legends logo" class="lol-logo opacity-0 pointer-events-none"/>
    </div>
    <div class="absolute lol-bg-wrapper -z-10">
      <video id="background-video" class="lol-bg object-cover -z-10 opacity-0" autoplay loop muted poster="https://assets.codepen.io/6093409/river.jpg">
        <source src={bg} type="video/mp4">
      </video>
    </div>
    <main class="h-full flex gap-12">
      <aside class="menu h-full w-32 bg-blue-500 border-r-2 border-hextech-metal">
      </aside>
      <div class="self-end flex flex-col gap-2 pb-2">
        <div class="flex gap-6 champ-card-wrapper">
          <div class="flex flex-col">
            <div class="w-52 h-72 border-2 border-hextech-metal z-20 flex justify-end items-end hover:cursor-pointer hover:scale-[1.03] duration-[300ms]">
              <div class="absolute flex items-center">
                <Image class="h-5 w-5 pointer-events-none" src={rp} alt="rp"/>
                <p class=" text-xl font-semibold p-2">750</p>
              </div>
              <Image src={champ1} class="w-52 h-[284px] object-cover pointer-events-none" alt="xerath">
            </div>
            <div class="w-52">
              <p class="text-lg">Shan Hai Scrolls Nautilus</p>
            </div>
            <div class="w-12 h-1 bg-[#C8AA6E]"/>
          </div>
          <div class="flex flex-col">
            <div class="w-52 h-72 border-2 border-hextech-metal z-20 flex justify-end items-end hover:cursor-pointer hover:scale-[1.03] duration-[300ms]">
              <div class="absolute flex items-center">
                <Image class="h-5 w-5 pointer-events-none" src={rp} alt="rp"/>
                <p class=" text-xl font-semibold p-2">750</p>
              </div>
              <Image src={champ2} class="w-52 h-[284px] object-cover pointer-events-none" alt="xerath">
            </div>
            <div class="w-52">
              <p class="text-lg">Shan Hai Scrolls Nautilus</p>
            </div>
            <div class="w-12 h-1 bg-[#C8AA6E]"/>
          </div>
          <div class="flex flex-col">
            <div class="w-52 h-72 border-2 border-hextech-metal z-20 flex justify-end items-end hover:cursor-pointer hover:scale-[1.03] duration-[300ms]">
              <div class="absolute flex items-center">
                <Image class="h-5 w-5 pointer-events-none" src={rp} alt="rp"/>
                <p class=" text-xl font-semibold p-2">750</p>
              </div>
              <Image src={champ3} class="w-52 h-[284px] object-cover pointer-events-none" alt="xerath">
            </div>
            <div class="w-52">
              <p class="text-lg">Shan Hai Scrolls Nautilus</p>
            </div>
            <div class="w-12 h-1 bg-[#C8AA6E]"/>
          </div>
        </div>
        <div class=" overflow-hidden w-fit">
          <div class="featured-section">
          <p class="uppercase font-semibold text-2xl text-[#C8AA6E]">featured skin line</p>
          <p class="uppercase font-semibold text-3xl">Mythmaker Irelia</p>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>

<style>
body {
  font-family: "Beaufort for LOL Bold";
}
:root {
  --duration: 0.5;
}

@keyframes scale-up {
0% {
  transform: scale(0);
}
100% {
  transform: scale(1);
}
}
.intro {
  animation: scale-up .6s ease-in-out both;
}

@keyframes fade-out {
0% {
  opacity: 1;
}
100% {
  opacity: 0;
}
}
.intro-wrapper {
  animation: fade-out .8s ease-in-out 1s both;
}

@keyframes fade-in {
0% {
  opacity: 0;
}
100% {
  opacity: 100;
}
}
.riot-logo {
  animation: fade-in .5s ease-in-out .5s both;
}

.lol-logo {
  animation: fade-in .5s ease-in-out 1.7s both;
}

.lol-logo-wrapper {
  animation: fade-out .8s ease-in-out 2.5s both;
}

.lol-bg {
  animation: fade-in 3s ease-in-out 2.5s both;
}

@keyframes scale-down {
0% {
  transform: scale(2.5);
}
100% {
  transform: scale(1);
}
}

.lol-bg-wrapper {
  transform: scale(2.5);
  animation: scale-down 1s ease-in-out 2.8s both;
}


@keyframes slide-up {
from {
  transform: translateY(135%);
}
to {
  transform: translateY(0);
}
}

.champ-card-wrapper > :nth-child(1) {
  transform: translateY(135%);
  animation: slide-up .4s ease-in-out 3.4s both;
}

.champ-card-wrapper > :nth-child(2) {
  transform: translateY(100%);
  animation: slide-up .4s ease-in-out 3.6s both;
}
.champ-card-wrapper > :nth-child(3) {
  transform: translateY(100%);
  animation: slide-up .4s ease-in-out 3.8s both;
}

@keyframes slide-right {
from {
  transform: translateX(-100%);
}
to {
  transform: translateX(0%);
}
}

.menu {
  transform: translateX(-100%);
  animation: slide-right .3s ease-in-out 3.8s both;
}

.featured-section {
  transform: translateX(-100%);
  animation: slide-right .4s ease-in-out 4s both;
}
</style>
